body, html {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #E8F5E9;
  top: 0;
  width: 100%;
  margin: 0; /* Add this line to remove margin */

  a {
    margin: 0 10px;
    text-decoration: none;
    color: #D33852;
    padding: 14px 16px;

    &:hover {
      background-color: white;
      border-radius: 5px;
    }
  }

  .logo {
    height: 40px;
  }
  

}
